<%- include('../partials/header.ejs'); %>

<div class="row mt-4">
    <div class="col-3">
        <a href="/administrador/agregar-producto" class="btn btn-primary btn-block">Agregar nuevo producto</a>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Tecnologia</th>
                    <th scope="col">Zip</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <% for (let producto of result) { %>
                <tr>
                    <td><%= producto.titulo %></td>
                    <td><%= producto.descripcion %></td>
                    <td><%= producto.precio %></td>
                    <td><%= producto.estado %></td>
                    <td><%= producto.imagen %></td>
                    <td><%= producto.autor %></td>
                    <td><%= producto.tecnologia %></td>
                    <td><%= producto.zip %></td>
                    <td><a href="/administrador/editar-producto/<%= producto.id %>" class="btn btn-success">Editar</a>
                    </td>
                    <td>
                        <form action="/administrador/eliminar-producto" method="POST">
                            <input type="hidden" name="id" value="<%= producto.id %>">
                            <button class="btn btn-danger" type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>



<%- include('../partials/footer.ejs'); %>