<%- include('../partials/header.ejs'); %>


<div class="row mt-4">
    <div class="col-3">
        <div class="form-group">
            <form action="/administrador/filtrar-fecha" method="POST">
                <input type="date" name="fecha" class="form-conotrol">
                <button type="submit" class="btn btn-success mt-2">Filtrar</button>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Tipo de pago</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Tecnologia</th>
                    <th scope="col">Manual</th>
                </tr>
            </thead>
            <tbody>
                <% for (let producto of result) { %>
                <tr>
                    <td><%= producto.producto %></td>
                    <td><%= producto.precio %></td>
                    <td><%= producto.descripcion %></td>
                    <td><%= producto.tipodepago %></td>
                    <td><%= producto.autor %></td>
                    <td><%= producto.tecnologia %></td>
                    <td>
                        <a class="btn btn-primary" href="/archivos/<%= producto.zip %>">Archivo
                        </a>
                    </td>
                </tr>
                <% } %>
                <tr>
                    <td colspan="3">
                        <strong>
                            <h2>Total de dinero generado: $<%= total %></h3>
                        </strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<%- include('../partials/footer.ejs'); %>