<%- include('./partials/header.ejs'); %>

<div class="row mt-4">
    <div class="col-12">
        <h2>Carrito de compras</h2>
    </div>
</div>

<div class="row">
    <div class="col-12">

        <% if (typeof session.usuarioid !== "undefined") { %>

        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Precio</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <% for (let carrito of result) { %>
                <tr>
                    <td>$<%= carrito.producto.precio %></td>
                    <td><%= carrito.producto.titulo %></td>
                    <td><img src="/imagenes/<%= carrito.producto.imagen %>" width="80px">
                    </td>
                    <td>
                        <form action="/eliminar-carrito" method="POST">
                            <input type="hidden" name="id" value="<%= carrito.producto.id %>">
                            <button class="btn btn-danger" type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
                <%= total += carrito.producto.precio %>
                <% } %>
                <tr>
                    <td colspan="3">
                        <strong>
                            <h2>Total: $<%= total %></h3>
                        </strong>
                    </td>
                    <td colspan="1">
                        <form action="/comprar" method="POST">
                            <input type="hidden" name="total" value="<%= total %>">
                            <button class="btn btn-primary" type="submit">Comprar productos</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <% }else{ %>
        <h2>Debes iniciar sesion, para poder ver tu carrito!</h2>
        <% } %>
    </div>
</div>



<%- include('./partials/footer.ejs'); %>