<%- include('./partials/header.ejs'); %>

<div class="row">
    <div class="col-12">
        <h2 class="my-4">Lo más vendido</h2>
    </div>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Descripción</th>
                <th scope="col">Autor</th>
                <th scope="col">Tecnología</th>
            </tr>
        </thead>
        <tbody>
            <% for (let producto of result) { %>
            <tr>
                <th scope="row"><%= producto.producto %></th>
                <td>$<%= producto.precio %></td>
                <td><%= producto.descripcion %></td>
                <td><%= producto.autor %></td>
                <td><%= producto.tecnologia %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>


<%- include('./partials/footer.ejs'); %>