<%- include('./partials/header.ejs'); %>

<div class="row">
    <div class="col-12">
        <h2 class="my-4">Todos nuestros productos</h2>
    </div>
</div>

<div class="row">
    <% for (let producto of result) { %>
    <div class="col-3">
        <!-- Blog Post -->
        <div class="card mb-4">
            <img class="card-img-top" src="/imagenes/<%= producto.imagen %>">
            <div class="card-body">
                <h2 class="card-title"><%= producto.titulo %></h2>
                <p class="card-text"><%= producto.descripcion %></p>
                <a href="#" class="btn btn-primary btn-block">$ <%= producto.precio %></a>
                <% if (typeof session.usuarioid !== "undefined") { %>
                <form action="/agregar-carrito" method="POST" class="mt-2">
                    <input type="hidden" name="id" value="<%= producto.id %>">
                    <button class="btn btn-success btn-block" type="submit">Agregar al carrito</button>
                </form>
                <% } %>
            </div>
            <div class="card-footer text-muted">
                <a href="#"><%= producto.tecnologia %></a>
                by
                <a href="#"><%= producto.autor %></a>
            </div>
        </div>
    </div>
    <% } %>
</div>


<%- include('./partials/footer.ejs'); %>